@import "../config/colors";
@import "../config/backgrounds";
@import "../config/fonts";
@import "../config/inputs";

.hideSpinnerArrows {  
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button{
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
  appearance: textfield;
}