@import "../config/colors";
@import "../config/backgrounds";

.switch{
  width: 48px;
  height: 24px;
  position: relative;
  border-radius: 6px;
  & label{
    display: block;
    width: 14px;
    height: 16px;
    border-radius: 3px;
    transition: all .3s ease;
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 4px;
    & input{
      visibility: hidden;
    }
  }
}
.move {
  left: 30px !important;
}
.bgPrimary{
  background-color: $color-primary;
}
.bgSecondary{
  background-color: $color-secondary;
}
.outlinePrimary{
  outline: 1px solid $color-primary;
}
.outlineSecondary{
  outline: 1px solid $color-secondary;
}