@import "../config/colors";
@import "../config/backgrounds";
@import "../config/fonts";

.textInput{
  height: 48px;
  border-radius: 12px;
  padding: 0px 16px;
  appearance: none;
  cursor: pointer;
  &:placeholder-shown{
    color:$color-secondary;
    border: 1px solid $color-secondary;
  }
  &:not(:placeholder-shown){
    color:$color-dark;
    border: 1px solid $color-dark;
  }
  &:focus{
    outline:none;
    color:$color-dark;
    border: 1px solid $color-dark;
    &::placeholder{
      color:$color-disabled;
    }
  }
}