@import "../config/colors";
@import "../config/backgrounds";
:root{
  --progress:50%;
}
.slider{
  display: flex;
  height: 8px;
  width: 160px;
  box-shadow:0px 0px 0px 1px $color-dark inset;
  border-radius: 4px;
  & .progress{
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(90deg, $color-primary var(--progress), transparent 0%);
  }
  input[type="range"] {
    &.range{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      -webkit-appearance: none;
      appearance: none;
      border: none;
      background: none;
      &:focus{
        outline: none;
        border: none;
      }
      &::-webkit-slider-runnable-track,
      &::-moz-range-track {
        appearance: none;
      }
      &::-webkit-slider-thumb,
      &::-moz-range-thumb {
        height: 16px;
        width: 16px;
        background: $color-dark;
        border: none;
        border-radius: 100%;
      }
    }
  }
}