@import "../config/colors";
@import "../config/backgrounds";

  input[type="range"] {
    &.range{
	    background: transparent;
    	overflow: hidden;
      margin: 0;
      padding: 0;
      border: none;
      &::-moz-range-track,
      &::-ms-fill-upper {
        appearance: none;
        border-radius: 4px;
        height: 8px;
        box-shadow:0px 0px 0px 1px $color-dark inset;
      }
      &::-moz-range-progress,
      &::-ms-fill-lower {
        height: 8px;
        border-radius: 4px;
        background: $color-primary;
      }
      &::-moz-range-thumb,
      &::-ms-thumb {
        height: 16px;
        width: 16px;
        background: $color-dark;
        border: none;
        outline: none;
        border-radius: 100%;
      }
    }
  }