@import "./colors";

@mixin background($bgColor, $color, $outline: false) {
  @if $outline {
    background-color: rgba(0, 0, 0, 0);
    color: $bgColor;
    border: 2px solid $bgColor;

    &:hover {
      background-color: $bgColor;
      color: white;
    }

    &:active {
      background-color: darken($bgColor, 5%);
      color: white;
    }

    &:disabled {
      border: 2px solid lighten($bgColor, 40%);
      color: $color-disabled;
      &:hover {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  } @else {
    background-color: $bgColor;
    color: $color;

    &:hover {
      background-color: darken($bgColor, 5%);
    }

    &:active {
      background-color: darken($bgColor, 10%);
    }

    &:disabled {
      background-color: lighten($bgColor, 40%);
      color: lighten($color, 40%);
    }
  }
}

.backgroundPrimary {
  @include background($color-primary, white);
  &.outlined {
    @include background($color-primary, white, "outline");
  }
}

.backgroundSecondary {
  @include background($color-secondary, white);
  &.outlined {
    @include background($color-secondary, white, "outline");
  }
}

.backgroundTertiary {
  @include background($color-tertiary, black);
  &.outlined {
    @include background($color-tertiary, white, "outline");
  }
}

.backgroundSuccess {
  @include background($color-success, white);
  &.outlined {
    @include background($color-success, white, "outline");
  }
}

.backgroundInfo {
  @include background($color-info, white);
  &.outlined {
    @include background($color-info, white, "outline");
  }
}

.backgroundWarning {
  @include background($color-warning, white);
  &.outlined {
    @include background($color-warning, white, "outline");
  }
}

.backgroundDanger {
  @include background($color-danger, white);
  &.outlined {
    @include background($color-danger, white, "outline");
  }
}

.backgroundLight {
  @include background($color-light, black);
  &.outlined {
    @include background($color-light, white, "outline");
  }
}

.backgroundDark {
  @include background($color-dark, white);
  &.outlined {
    @include background($color-dark, white, "outline");
  }
}
