@import "./colors";

@mixin background($bgColor, $color) {
  &.outlined {
    background-color: rgba(0, 0, 0, 0);
    color: $bgColor;
    outline: 1px solid $bgColor;

    &:hover {
      background-color: $bgColor;
      color: $color;
    }

    &:active {
      background-color: darken($bgColor, 5%);
      color: $color;
    }

    &:disabled {
      outline: 1px solid lighten($bgColor, 40%);
      color: $color-disabled;
      &:hover {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
  &.link {
    background-color: rgba(0, 0, 0, 0);
    color: $bgColor;
    text-decoration: underline;
    padding: 5px;

    &:hover {
      color: darken($bgColor,5%);
    }

    &:active {
      color: darken($bgColor, 10%);
    }

    &:disabled {
      color: $color-disabled;
      &:hover {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
  &:not(.outlined):not(.link) {
    background-color: $bgColor;
    color: $color;

    &:hover {
      background-color: darken($bgColor, 5%);
    }

    &:active {
      background-color: darken($bgColor, 10%);
    }

    &:disabled {
      background-color: lighten($bgColor, 40%);
      color: lighten($color, 40%);
    }
  }
}

.backgroundPrimary {
  @include background($color-primary, white);
}

.backgroundSecondary {
  @include background($color-secondary, white);
}

.backgroundTertiary {
  @include background($color-tertiary, black);
}

.backgroundSuccess {
  @include background($color-success, white);
}

.backgroundInfo {
  @include background($color-info, white);
}

.backgroundWarning {
  @include background($color-warning, white);
}

.backgroundDanger {
  @include background($color-danger, white);
}

.backgroundLight {
  @include background($color-light, black);
}

.backgroundDark {
  @include background($color-dark, white);
}