$color-primary: #0085ff;
$color-secondary: #8d8d8d;
$color-tertiary: #a4ff00;
$color-success: #68c520;
$color-info: #4767ba;
$color-warning: #f1ae00;
$color-danger: #d72700;
$color-light: #f3f9ff;
$color-dark: #2f3336;
$color-disabled: #b0b0b0;
