@import "./colors.scss";
.styleNone{
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  border: none;
  background: transparent;
  height: 100%;
  &:focus{
    outline: none;
  }
}
.controlButtons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  & button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2px;
    border-radius: 4px;
    &:first-child{
      margin-bottom: 4px;
    }
  }
}
.textInput{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 6px 8px;
  appearance: none;
  cursor: text;
  &:not(.fullWidth){
    max-width: 250px;
  }
}
.showButtonsOnHover{
  &:hover{
    & .controlButtons{
      visibility: visible;
    }
  }
  &:not(:hover){
    & .controlButtons{ 
      visibility: hidden;
    }
  }
}
.disabled{
    background-color: lighten($color-disabled,15%);
    border: 1px solid $color-secondary;
    color: $color-secondary;
}
.hidden{
  visibility: hidden;
}
.placeholderShown{
  color:$color-secondary;
  border: 1px solid $color-secondary;  
}
.borderActive{
  border: 1px solid $color-dark;  
}
.textDark{
  color:$color-dark;
}
.textSecondary{
  color:$color-secondary;
}
.placeholderDisabled::placeholder{
  color:$color-disabled;
}
.placeholderRegular::placeholder{
  color:$color-dark;
}
.fullWidth{
  width: 100%;
}