@import "../config/colors";
@import "../config/backgrounds";

button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 10px;
}

.sizeExtraSmall {
  font-size: 10px;
  padding: 5px 10px;
}

.sizeSmall {
  font-size: 12px;
  padding: 6px 12px;
}

.sizeMedium {
  font-size: 14px;
  padding: 7px 14px;
}

.sizeLarge {
  font-size: 16px;
  padding: 8px 16px;
}

.sizeExtraLarge {
  font-size: 18px;
  padding: 9px 18px;
}
