@import "../config/colors";
@import "../config/backgrounds";
@import "../config/fonts";

button {
  border: 0;
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
}

$sizes: (
  "Small":      0.8,
  "Medium":     1,
  "Large":      1.25,
  );

$baseSize:1em;

@each $size,$ratio in $sizes {
  .size#{$size}{
    font-size: $ratio*$baseSize;
    padding: calc($ratio*$baseSize/2) calc($ratio*$baseSize*3);
  }
}
