@import "../config/colors";
@import "../config/backgrounds";
@import "../config/fonts";

.styleNone{
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  border: none;
  background: transparent;
  height: 100%;
  &:focus{
    outline: none;
  }
}
.controlButtons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  & button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 14px;
    border-radius: 4px;
  }
}
.textInput{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
  height: 48px;
  border-radius: 12px;
  padding: 0px 16px;
  appearance: none;
  cursor: pointer;
  color:$color-secondary;
  border: 1px solid $color-secondary;
  & input{
    cursor: pointer;
  }
  &:not(:hover){
    & .controlButtons{
      visibility: hidden;
    }
  }
  &:focus{
    outline:none;
    color:$color-dark;
    border: 1px solid $color-dark;
    &::placeholder{
      color:$color-disabled;
    }
  }
  &:not(.fullWidth){
    max-width: 250px;
  }
}
.fullWidth{
  width: 100%;
}
.disabled{
    background-color: lighten($color-disabled,15%);
    border: 1px solid $color-secondary;
    color: $color-secondary;
}
.hidden{
  visibility: hidden;
}
.placeholderShown{
    color:$color-secondary;
    border: 1px solid $color-secondary;  
}
.borderActive{
    border: 1px solid $color-dark;  
}
.textDark{
  color:$color-dark;
}