:root {
  --color-primary: #0085ff;
  --color-primary-dark: #0076e1;

  --color-secondary: #8d8d8d;
  --color-secondary-dark: #838383;

  --color-success: #68c520;
  --color-success-dark: #5bb216;

  --color-info: #4767ba;
  --color-info-dark: #395ab1;

  --color-warning: #f1ae00;
  --color-warning-dark: #e0a307;

  --color-danger: #d72700;
  --color-danger-dark: #ba2100;

  --color-light: #f3f9ff;
  --color-light-dark: #e4f2ff;

  --color-white: #ffffff;
  --color-white-dark: rgba(255, 255, 255, 0.01);

  --color-disabled: rgba(0, 132, 255, 0.75);
}
